 *{
   margin:0;
   padding:0;
   box-sizing:border box;
 }
 
 html,body{
	    height:100%;
 }
 
div{
	padding:30px;
	background:#112233;
	color:#f0f1f5;
	font-family:big john;
}

h3{
  font-size:15px;
  font-family: Comic Sans MS;
  color:red;
}

header{
	  padding:20px;
	  background:green;	
      margin:auto;	  
}

footer{
	  text-align:center;
	  font-family:Comic Sans MS;
	  font-size:11px;
}

     div img{
	     transform: rotate(-90deg);
}